@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #6a7282;
}

.dark {
  --background: #111827;
  --foreground: #6a7282;
}

body {
  background: var(--background);
  color: var(--foreground);
}